@import url('https://fonts.googleapis.com/css?family=Great+Vibes|Raleway');
$text-font: 'Raleway', sans-serif;


.App{
    width: 100wv;
    height: 90vh;
}

body{
    font-family: $text-font;
}

*:focus {
    outline: none;
}

.banner{
    height: 120px;
    background-color: #513A31;

     h1{
        padding-top: 10px;
        font-size: 50px;
     }
    
}