@import url("https://fonts.googleapis.com/css?family=Great+Vibes|Raleway");
.App {
  width: 100wv;
  height: 90vh; }

body {
  font-family: "Raleway", sans-serif; }

*:focus {
  outline: none; }

.banner {
  height: 120px;
  background-color: #513A31; }
  .banner h1 {
    padding-top: 10px;
    font-size: 50px; }
